@model TrainerCardTemplateModel;

<div class="TrainerCard" ID="@Model.Trainer.ID" Name="@Model.Trainer.Name" TeamID="@Model.Trainer.SDTeam?.ID">
    <h2><span class="UserName"></span><input class="UserName" type="text"/></h2>
    <button class="EditButton">Edit</button>
    <div class="TeamWrapper"></div>
    <label for="@Model.Trainer.Name+Role">
        <label for="@Model.Trainer.Name+Role">Admin</label>
        @if (!Model.Trainer.Role)
        {
            <input id="@Model.Trainer.Name+Role" class="TrainerRole" type="checkbox" checked />
        }
        else
        {
            <input id="@Model.Trainer.Name+Role" class="TrainerRole" type="checkbox" />
        }
    </label>
    <button class="DeleteButton">Delete</button>
</div>